<h2>Monthly Focus</h2> 
	<% current_user.goals.get_monthly.each do |f| %>
		<%= f.description %>
	<% end %>
<h2>Mid-term Goals</h2>
	<ul>
		<% current_user.goals.get_midterm.each do |m| %>
			<li> <%= m.description %> </li>
		<% end %>
	</ul>
<h2>Long-term Goals</h2>
	<ul>
		<% current_user.goals.get_longterm.each do |l| %>
			<li> <%= l.description %> </li>
		<% end %>
	</ul>
