<h1>Manage existing goals</h1>

<%= render 'display' %>

<a class="btn btn-default" href="<%= habits_path %>" role="button">Cancel</a>
<a class="btn btn-primary" href="<%= new_goal_path %>" role="button">Add a new goal</a>
<a class="btn btn-primary" role="button">Delete some goals</a> <!-- how do I make the button call a function from the model? --> 

<%#= button_to "Add a new goal", new_goal_path, method: :get %>