<h1>Add a new goal</h1>

<%= render 'form' %>

<h1>Manage existing goals</h1>
<h2>Monthly Focus</h2> 
Display it here
<p>
<h2>Mid-term Goals</h2>
<ul>
	<li>display</li>
	<li>them</li>
	<li>here</li>
</ul>
<h2>Long-term Goals</h2>
<ul>
	<li>display</li>
	<li>them</li>
	<li>here</li>
</ul>
